<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midproject">

    <!--
        HI LnT BNCC.
        Jadi... gua penasaran nih...
        Benasarkan dokumen, kalau dikirim sebelum tanggal 15
        Februari akan "menaikkan jabatan" di perusahaan
        Mentol. Jadi dalam arti sebenarnya... apa maksud
        dari pernyataan ini?

        Trims...
        Farhan MS...

        Gua taruh disini karena mungkin tempat ini tak akan
        dibaca. xD wkwkwk. Tapi kalo baca, thats great.
        I hope I can know the answer of my question above.

        Thankyou =D
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".TestDrive"></activity>
        <activity android:name=".Home" />
        <activity android:name=".license" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>